*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    background-color: gray;
    font-family: montserrat;

}

.score {
    color: white;
    height: 20 vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    h2 {
        font-size: 30px;
    }

    p{
        text-align: center;
        padding: 10px;
        font-size: 25px;

    }
}

.intro {
    color: wheat;
}
